#chessboard {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}

.panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 10px;
}
