#chessboard {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}

.board-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}

.update-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 500px;
}
