<div class="container">
  <div class="board-panel">
    <canvas
      #chessboard
      id="chessboard"
      width="520"
      height="520"
      (mousemove)="game.gomoku.handleMouseMove($event)"
      (click)="game.gomoku.play($event)"
    ></canvas>
    <button (click)="game.resetGomoku()">reset</button>
    <button (click)="game.cheat()">cheat</button>
    <button (click)="game.clear()">clear</button>
  </div>
  <div class="control-panel" *ngIf="!loading">
    <span>wealth:{{ valToDisplayVal(game.data.wealth) }}</span>
    <div *ngIf="game.data.wealth > 0">
      <hr/>
      <div *ngFor="let building of game.data.buildings">
        <div
          *ngIf="
            game.data.wealth > building.value.cost || building.value.historyCount > 0
          "
          class="building-panel"
        >
          <div class="upgrade-panel">
            <span
              >{{ building.value.title }} ({{ valToDisplayVal(building.value.count) }})
            </span>
            <div class="build-button">
              <button
                (click)="game.build(building.key)"
                [disabled]="!game.usable('building', building.key)"
              >
                upgrade(${{
                  valToDisplayVal(building.value.cost) +
                    buildingConsume(building.key)
                }})
              </button>
              <button
                (click)="game.maxBuild(building.key)"
                [disabled]="!game.usable('building', building.key)"
              >
                max
              </button>
            </div>
          </div>
          <span class="desciption">{{ building.value.description }}</span>
        </div>
      </div>
      <hr/>
      <div *ngFor="let upgrade of game.data.upgrades">
        <div
          *ngIf="
            game.data.wealth > upgrade.value.cost || upgrade.value.level > 0
          "
          class="upgrade-panel"
        >
          <span
            >{{ upgrade.value.title }} ({{ upgrade.value.level }}/
            {{ upgrade.value.max }})
            <span *ngIf="debug">{{ getUpgradeValue(upgrade.key) }}</span></span
          >
          <button
            (click)="game.upgrade(upgrade.key)"
            [disabled]="!game.usable('upgrade', upgrade.key)"
          >
            upgrade({{ valToDisplayVal(upgrade.value.cost) }})
          </button>
        </div>
      </div>
    </div>
  </div>
</div>
