#chessboard {
  margin: 5px;
}

.container {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: flex-start;
}

.board-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.control-panel {
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
  padding: 10px;
  width: 100%;
}

.upgrade-panel {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: flex-start;
  width: 500px;
}

.building-panel {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  width: 500px;
}

.building-panel .desciption {
  color: #888888;
}

.building-panel .build-button {
  display: flex;
  flex-direction: row;
  justify-content: end;
  align-items: end;
  gap: 5px;
}
